@model WebCV_Fiches.Models.AdminViewModels.RoleAdministrationViewModel

@{
    ViewData["Title"] = "Mettre en jour";
}

<h2>Mettre en jour</h2>

<h4>@Html.DisplayFor(mode => Model.Role.Name)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Role.Id" />
            <div class="form-group">
                <label asp-for="Role.Name" class="control-label"></label>
                <input asp-for="Role.Name" class="form-control" />
                <span asp-validation-for="Role.Name" class="text-danger"></span>
            </div>         
            <div class="form-group">
                <input type="submit" value="Enregistrer" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>

    @using (Html.BeginForm("AddUserRole", "Admin", FormMethod.Post))
    {
        <input name="roleId" type="hidden" asp-for="Role.Id" />
        <div class="col-md-4">
            <label class="control-label">Nom du utilisateur à ajouter</label>
            @Html.DropDownList("Utilisateurs", (IEnumerable<SelectListItem>)ViewData["Utilisateurs"], "Selecionez un utilisateur")
            <input type="submit" value="Ajouter utilisateur à rôle" class="btn btn-default" />
        </div>
    }

    <table class="table">
        <thead>
            <tr>
                <th>
                    <p>Nom du Utilisateur</p>
                </th>
                <th>
                    <p>Adresse Courriel</p>
                </th>
                <th>
                    <p>Supprimer</p>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Users)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <a asp-action="DeleteUserRole" asp-route-roleId="@Model.Role.Id" asp-route-userId="@item.Id">Supprimer</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

    <div>
        <a asp-action="Index">Retourner à la liste</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
